{% extends 'dr_shahida/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}




    <!-- Blog Start -->
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-8">
                <!-- Blog Detail Start -->
                
                <div class="mb-5">
                    <img class="img-fluid w-100 rounded mb-5" src="{{ blog_post.img.url }}" alt="">
                    <h1 class="mb-4">{{ blog_post.title }}</h1>
                    <p>{{ blog_post.content }}</p>
                    <div class="fb-like" data-href="http://azimugv.pythonanywhere.com/blog/post/{{blog_post.id}}" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
                    </div>
                <!-- Blog Detail End -->

                <!-- Comment List Start -->
                <div class="mb-5">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 mb-4">{{lang.Comments}}</h4>
                    <div class="d-flex mb-4">
                        <div class="fb-comments" data-href="http://azimugv.pythonanywhere.com/blog/post/{{blog_post.id}}" data-width="" data-numposts="5"></div>
                    </div>
                   
                </div>
                <!-- Comment List End -->

            </div>

            <!-- Sidebar Start -->
            <div class="col-lg-4">
                <!-- FB Post Start -->
                <div class="mb-5">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 mb-4">{{lang.fb_page_title}}</h4>
                    <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                        <div class="fb-page" data-href="https://www.facebook.com/Dr.ShahidaBegumMinu/" data-tabs="timeline" data-width="" data-height="1200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Dr.ShahidaBegumMinu/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Dr.ShahidaBegumMinu/">Dr. Shahida Begum Minu; Womens health</a></blockquote></div>
                    </div>
                </div>
                <!-- FB Post End -->
            </div>
            <!-- Sidebar End -->
        </div>
    </div>
    <!-- Blog End -->

    {% endblock %}

{% block footer %}
{% include 'dr_shahida/footer.html' %}
{% endblock %}

</body>

</html>