{% extends 'dr_shahida/base.html' %}
{% load static %}
{% block content %}



    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">{{lang.testimonials}}</h5>
                <h1 class="display-4">{{lang.testimonials_tagline}}</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="owl-carousel testimonial-carousel">

                        <div class="testimonial-item text-center">
                            
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fyousha.bentazakir%2Fposts%2Fpfbid0Vn2hNa8XBziUN43FG8qfGUx8bZftrUKVzGTXPgAwYeuWpfDtH9ayLpmVyMrCeE9Fl&show_text=true&width=500" width="500" height="189" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                            </p>
                         
                        </div>

                        <div class="testimonial-item text-center">
                            
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fspapea%2Fposts%2Fpfbid03qDvGmzqM24bXpPfMwfmqGQmr39nZv3eB3M1C7czfA3YroMpgbZ94wKNz1KdfTH2l&show_text=true&width=500" width="500" height="170" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                
                            </p>
                         
                        </div>

                        <div class="testimonial-item text-center">
                            
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Ffayzaalam.shulfa.71%2Fposts%2Fpfbid02fgunzC9zhKefTLDgzNWdVjATnfEUqTuuSKNZiRUmtMSwMc89aEYUnobKB7ZC17Xxl&show_text=true&width=500" width="500" height="194" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                
                                
                            </p>
                         
                        </div>

                        <div class="testimonial-item text-center">
                            
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fspapea%2Fposts%2Fpfbid03qDvGmzqM24bXpPfMwfmqGQmr39nZv3eB3M1C7czfA3YroMpgbZ94wKNz1KdfTH2l&show_text=true&width=500" width="500" height="170" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                            </p>
                         
                        </div>

                        <div class="testimonial-item text-center">
                            
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcmlshafiq%2Fposts%2Fpfbid029XaoDrp256tLVQvPhG89FrKrs9XeQdCkFdbwEfNZH1rD7sDQCZyVMb5LYuM4SWGnl&show_text=true&width=500" width="500" height="194" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                            </p>
                         
                        </div>

                        <div class="testimonial-item text-center">
                            
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fniazmorshed.biplob%2Fposts%2Fpfbid02LGjfWHL3MDC4qQQPjgDrNw293n4huGci3qpdHuzWCpFJbeDQN2AZgWfpxGSVnErjl&show_text=true&width=500" width="500" height="194" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                
                            </p>
                         
                        </div>

                        <div class="testimonial-item text-center">
                            
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Ffaruk.hassan.me%2Fposts%2Fpfbid02dxez8ufncZhzkW27bJaKKbUSLsCddVMkKKm7bzJQVVwveS7qQucVvN7S4q1T5PKil&show_text=true&width=500" width="500" height="166" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                
                                
                                
                            </p>
                         
                        </div>

                        <div class="testimonial-item text-center">
                            
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fabdul.kaiumbhuiyan.73%2Fposts%2Fpfbid02APPAM3L9a2aZsPivD8141aDPypdzq4zsS6ywiYdEYMZDosHHasApY8zqWFCQviR4l&show_text=true&width=500" width="500" height="189" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                
                                
                            </p>
                         
                        </div>

                        <div class="testimonial-item text-center">
                            
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Frocky.ahmed.940%2Fposts%2Fpfbid0u4daWxwLLXKJVx3UoEJ923mTxSV49wx8JsQYYecjqm6LsNYBn4UTwnkGpn7sZY8Zl&show_text=true&width=500" width="500" height="166" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                
                                
                                
                            </p>
                         
                        </div>
                        <div class="testimonial-item text-center">
                            
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsahriar.8800%2Fposts%2Fpfbid0pYRCQMpTKfqWzPYtxHzzfPoR9iGK4qAwnUvP9n74ZS63X6p77hoFeQUShpXmJyWVl&show_text=true&width=500" width="500" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                
                            </p>
                         
                        </div>
                        <div class="testimonial-item text-center">
                            
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmuzzan.shah.1%2Fposts%2Fpfbid0edY4kkXvDtaSsAkQbjpFFRtAyVNGBVDuvUrZKrzs5X3CQGn8wi9Y9WyZkpAQvq1ol&show_text=true&width=500" width="500" height="194" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                
                                
                                
                            </p>
                         
                        </div>
                        <div class="testimonial-item text-center">
                            
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpiashchandra.golder%2Fposts%2Fpfbid0TASr3GZLcXgL3P29XVj7yUG6z1k13fENYMLfb8ye8mEQDHyhHXSzq5hiHH1evgSBl&show_text=true&width=500" width="500" height="189" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                            </p>
                         
                        </div>
                       

                        <div class="testimonial-item text-center">
                            
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fspapea%2Fposts%2Fpfbid03qDvGmzqM24bXpPfMwfmqGQmr39nZv3eB3M1C7czfA3YroMpgbZ94wKNz1KdfTH2l&show_text=true&width=500" width="500" height="170" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                
                            </p>
                         
                        </div>

                        <div class="testimonial-item text-center">
                            
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fspapea%2Fposts%2Fpfbid03qDvGmzqM24bXpPfMwfmqGQmr39nZv3eB3M1C7czfA3YroMpgbZ94wKNz1KdfTH2l&show_text=true&width=500" width="500" height="170" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                
                            </p>
                         
                        </div>

                        <div class="testimonial-item text-center">
                            
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fspapea%2Fposts%2Fpfbid03qDvGmzqM24bXpPfMwfmqGQmr39nZv3eB3M1C7czfA3YroMpgbZ94wKNz1KdfTH2l&show_text=true&width=500" width="500" height="170" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                
                            </p>
                         
                        </div>

                        <div class="testimonial-item text-center">
                            
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fspapea%2Fposts%2Fpfbid03qDvGmzqM24bXpPfMwfmqGQmr39nZv3eB3M1C7czfA3YroMpgbZ94wKNz1KdfTH2l&show_text=true&width=500" width="500" height="170" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                
                            </p>
                         
                        </div>
                        <div class="testimonial-item text-center">
                            
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fspapea%2Fposts%2Fpfbid03qDvGmzqM24bXpPfMwfmqGQmr39nZv3eB3M1C7czfA3YroMpgbZ94wKNz1KdfTH2l&show_text=true&width=500" width="500" height="170" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                
                                
                            </p>
                         
                        </div>
                        
                        
                        
        
                    </div>
                </div>
            </div>
            <div class="col-12 text-center">
                <a class="btn btn-primary py-3 px-5" href="https://www.facebook.com/Dr.ShahidaBegumMinu/reviews">{{lang.testimonial_btn}}</a>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    {% endblock %}
    {% block footer %}
    {% include 'dr_shahida/footer.html' %}
    {% endblock %}
  
</body>

</html>