{% extends 'dr_shahida/base.html' %}
{% load static %}
{% block content %}


 <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">{{lang.testimonials}}</h5>
                <h1 class="display-4">{{lang.testimonials_tagline}}</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="owl-carousel testimonial-carousel">

                        <div class="testimonial-item text-center h-50">
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fyousha.bentazakir%2Fposts%2Fpfbid02ZHAPxxWsQJawxK5xTmvgaXUZ3CjJ6xq4cNhdfry7GXkhJe659sqN26hXAspSsBBbl&show_text=true&width=500" width="500" height="190" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                             </p>
                        </div>
                        <div class="testimonial-item text-center h-50">
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fspapea%2Fposts%2Fpfbid03niRwzkpi9evMLzYfEMsEXT5wct57yZQDRS5T8dJSvQ9BEnJJ97W48qjLKMS8CQRl&show_text=true&width=500" width="500" height="171" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                             </p>
                        </div>
                        <div class="testimonial-item text-center h-50">
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Ffayzaalam.shulfa.71%2Fposts%2Fpfbid0bnxbUjzAD8corJicRVdH7iBPhuYtuVvuXkpLw7GRKSeA3MpXZf9QMFntxMf59U5Kl&show_text=true&width=500" width="500" height="195" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                             </p>
                        </div>
                        <div class="testimonial-item text-center h-50">
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcmlshafiq%2Fposts%2Fpfbid029y2qTj9DFvVFcEPzpnFhwSm2SAg8nWuZBFHHhxuTMQcFYqAqjLsrjAz65fLE2nG1l&show_text=true&width=500" width="500" height="195" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                             </p>
                        </div>
                        <div class="testimonial-item text-center h-50">
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fniazmorshed.biplob%2Fposts%2Fpfbid0GrjzZUjQgYKHRTgrqZyCALdwVRtTtJs5E23JTYaYWMKCDNS6jzGiMBL9Xze8XCp3l&show_text=true&width=500" width="500" height="195" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                             </p>
                        </div>
                        <div class="testimonial-item text-center h-50">
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fop1989%2Fposts%2Fpfbid02bGvdjnXyUVL2QResL6eVMsDoZUAVi84wzBiQHqs6YZQxktzQNtoc6ZvHwAPqrGN6l&show_text=true&width=500" width="500" height="167" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                             </p>
                        </div>
                        <div class="testimonial-item text-center h-50">
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Ffaruk.hassan.me%2Fposts%2Fpfbid02dv9Vp8RmyaMhS65XmYfh28yizDuZRBRdoeJJfyiRZPHudnRGCDqZR7tUb8MXyqfgl&show_text=true&width=500" width="500" height="167" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                             </p>
                        </div>
                        <div class="testimonial-item text-center h-50">
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsahriar.8800%2Fposts%2Fpfbid02t3YtzkCoY14hCefF4wbY78YdNZ6J5VrjheWWPYi6aT6x1wcCHGMmcQoeytDGBtkAl&show_text=true&width=500" width="500" height="137" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                             </p>
                        </div>
                        <div class="testimonial-item text-center h-50">
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fshovonsalay%2Fposts%2Fpfbid0fV1bmyGRp7qaeXMRoumt9mUZihrDWsq25AXgoyo1NLR1gRWDhDti6zWbPSxgAJ7tl&show_text=true&width=500" width="500" height="137" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                             </p>
                        </div>
                        <div class="testimonial-item text-center h-50">
                            <p class="fs-4 fw-normal"> 
                                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fabdus.salam.5249%2Fposts%2Fpfbid0cRsYsF5yzmyhk8txc1Aey23X46HksnPX4b3i2AV5GxkwT3cAzKwkh5VGJ2v2RR4sl&show_text=true&width=500" width="500" height="137" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                             </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center">
                <a class="btn btn-primary py-3 px-5" href="https://www.facebook.com/Dr.ShahidaBegumMinu/reviews">{{lang.testimonial_btn}}</a>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    {% endblock %}
    {% block footer %}
    {% include 'dr_shahida/footer.html' %}
    {% endblock %}
  
</body>

</html>